---
layout: default
title: Fruitful Spirit
---


<header>
<img src="/images/campsite_cleanup_logo.jpg">
	
<div class="container">
	<div>
	<p class="editable">"The fruit of the spirit is love, joy, peace, patience, kindness, goodness, faithfulness, gentleness, and self-control; against such things there is no law."  <br><b><div style="text-align: right">Galatians 5:22-23</div></b>			</p>
	</div>
</div>
	
</header>

<div class="container">
	<div class="columns">
		<div>
			<!---
			<div style="width:50%">
				<img src="/images/FSlogo.png" alt="Fruitful Spirit">
			</div>
			--->
			<h1 class="editable">All people have value</h1>
			<div class="button">
				<a href="#donate">Donate Now</a>
			</div>				
		</div>
		<div>
			<h3 class="editable">Our mission is to create viable long term home and work alternatives for people who are not permitted, willing or able to utilize the options existing in the community today.<br><br></h3>
		</div>
	</div>		
</div>

<div class="container">
	<p class="editable"><b>Who we are:</b> We are a community of volunteers ministering to the forgotten, homeless and hurting in the greater Portland, Oregon area.
	</p> 
	<details><summary><u><b>more...</b></u></summary>
	<p class="editable">We believe a valued place in our community can be found for every person, and that every person is worth the time and effort it takes to create a valued place.  We believe broad societal weaknesses contribute to broad social issues such as child and sex abuse, chronic unemployment, homelessness, drug use, and crime, that in turn lead to more suffering and further weaken society.  We believe there are no shortcuts.  Individuals build society over a long period of time.  Only a community of healthy individuals who care for others can sustain a society that is healthy and self-healing. We believe this work cannot be delegated organizationally to our government or humanitarian agencies and implemented “top down”.  This work can only be done “bottoms up” by individuals, families, churches, community groups, businesses and neighborhoods who share the ongoing effort and cost to engage and care for people struggling within a community.
	</p></details>
	
	<p class="editable"><b>What we do:</b> Our mission is to create viable, enduring home and work alternatives for people who are not permitted, willing or able to use existing options.  As we find and validate new alternatives, we share what we’ve learned.
	</p> 
	<details><summary><u><b>more...</b></u></summary>
	<p class="editable">We seek to address the underlying causes of an individual’s journey into isolation and alienation.  We do so by learning each person’s story over time, gradually developing mutual trust and safety through consistent positive relationship.  Only then can we progress to a sustainable solution together.
As a member of our community, Fruitful Spirit proposes to model this process and to encourage others to do the same.
	</p>
	</details>

	<p class="editable"><b>How we do it:</b> 
		<ul>
			<li>1. Bring stakeholders together in natural ways that build relationship, understanding and perspective. <details><summary><u><b>more...</b></u></summary> 
				<p class="editable">We work with local partners on projects that bring stakeholders together.  We meet one another and work together.  In the process we also learn about key issues we share and hear other viewpoints.  We seek a place at the table for every stakeholder perspective as we explore new home and work alternatives.
				</p></details>
				</li>
			<li>2. Engage stakeholders in the work of collaborating on home and work alternatives that might fill need “gaps” not met by existing options.<details><summary><u><b>more...</b></u></summary>
				<p class="editable">As an example, let’s use finding a sustainable home alternative for a small group of tent campers who recently set up camp within a neighborhood.  Housed neighbors are concerned about safety, cleanliness, noise, and impact on home values.  The housed neighbors may not be willing to allow campers to set up tents in the neighborhood under any circumstances.  However, if they are willing to consider options, then we can begin to explore alternatives acceptable to housed neighbors and campers.
				</p></details>
				</li>
			<li>3. Develop options, test, and demonstrate sustainable successes for our community.<details><summary><u><b>more...</b></u></summary>
				<p class="editable">Continuing the example, let’s say neighbors agree to test permitting up to three tents on a grassy curb strip that is part of the city right-of-way.  The city approves temporary use of the location for a test.  The neighbors agree to a test, requiring that garbage be picked up, the area is kept neat, no noise is made after 10pm, and all laws are obeyed.  Campers agree to these terms and specifically agree not to use or bring drugs or alcohol into the camp site.  In support of the test, neighbors agree to provide a portable toilet nearby.  Fruitful Spirit agrees to monitor, document, and participate in resolving any issues that may arise.   Police and service agencies agree to notify named neighborhood and camper contacts if complaints are received.  Police respond to reports of illegal activity as they would normally.
The stakeholders review test results after 30 days, decide whether to continue, modify the agreement and continue, or terminate the test.
				</p></details>
				</li>
			<li>4. Share information about successful alternatives, providing data, encouraging modification and adoption by other communities.<details><summary><u><b>more...</b></u></summary>
				<p class="editable">Finally, once we have a working model, we can evaluate its impact on community relationships, crime, cleanliness and safety.  We can work with service agencies and campers on next steps, which may be health care, education, addiction recovery, employment, and/or long-term housing.
				</p></details>
				</li>
	</p> 
</div>		
	

<div class="container">
	<h2 class="editable" style="text-align: center;">What we're working on</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Campsite Cleanup</h3>
			<p class="editable">Our initial effort to affect change in the Portland Homeless community has been very well received by both homeless residents and Metro's RID (Regional Illegal Dump) team.  The premise is this: we distribute garbage bags to some of the camps in the area and let them know when we'll be back to pick them up.
The campers take the initiative to clean up their space, we merely provide a pickup service!  Metro provides waste disposal at no charge for this project.
			</p>
			<details><summary><u><b>Would you like to know more?</b></u></summary><p class="editable">In partnership with Metro Waste Disposal and Union Gospel Mission, Fruitful Spirit provides trash bags and basic clean up equipment to homeless camps in Portland between MLK and the Willamette River, and between E Burnside and SE Powell Blvd.  On a weekly basis, Fruitful Spirit drives the route and campers load their bagged trash into a utility trailer.  Campers receive more trash bags.  Metro empties the trailer of trash on the following day at no charge.   The program is being expanded to cover additional routes and vehicles.  We plan to pay campers to assist in trash collection.  You can help by volunteering to drive a route, and/or provide a vehicle or trailer to collect trash.  We welcome donations to support expansion of the program and wages for working campers.
			</p></details>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">A picture is worth...</h3>
			<div>
			<img src="/images/trailer.png" alt="Trailer">
			<img src="/images/trailer02.png" alt="Trailer02">
			<img src="/images/blanket.jpg" alt="Blanket">
			</div>
			<p class="editable"> </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Thermal Blankets</h3>
			<p class="editable">With the cold/rainy season fast approaching, the need for blankets will increase dramatically.  
Our development team has designed a blanket that is warm, waterproof, and something we can produce inexpensively.
The idea is to create short term opportunities for employment in the production of the blankets - maybe longer term in the future!
Union Gospel Mission has agreed to help with the distribution of blankets to needy campers.</p>
			<details><summary><u><b>Would you like to know more?</b></u></summary><p class="editable">In partnership with Metro Waste Disposal, Central City Concern and Union Gospel Mission, Fruitful Spirit makes and donates waterproof reflective tarp/blankets for homeless camper use as shelter during the winter months.  Damaged and discarded tarps will be reclaimed and returned to Fruitful Spirit for refurbishing and redistribution by Union Gospel Mission.  Blankets can be hand made by 1 or 2 people comprised of volunteers and campers.  You can help by hosting a “blanket party”  and invite friends to hand make blankets.  We provide the materials and will lead the activity.  Blankets will be distributed through UGM’s homeless services.  A donation per blanket is requested to cover materials and to pay homeless participants.</p></details>
		</li>
	</ul>
</div>


<!---
<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>
--->

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and what projects we're working on!</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<!---
<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
--->
