---
layout: default
title: Fruitful Spirit
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Create alternate paths</h1>
				<p class="editable">Our economy creates opportunities for some. We're workign to create opportunities for all</p>
				<div class="button">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="/images/FSlogo.png" alt="Fruitful Spirit">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">What we're working on</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Campsite Cleanup</h3>
			<p class="editable">Our initial effort to affect change in the Portland Homeless community has been a resounding success.  
It has thus far been limited in scope due to funds and volunteers, but what we've been able to do has been met with great enthusiasm.
The premise is this: we distribute garbage bags to some of the camps in the area and let them know when we'll be back to pick them up.
The campers take the initiative to clean up their space, we merely provide a pickup service!  
			</p>
			<details><summary><u><b>Would you like to know more?</b></u></summary><p class="editable">We have partnered with several local organizations in this effort, including XXX, xxx, XXX, and the Union Gospel Mission.
Union Gospel Mission already is well known in the homeless community, so we began by accompanying their "Rescue" missions to build some credibility and interest.
XXX garbage company was approached and very graciously has allowed us to drop off bagged garbage at no cost.
This is an operation that can easily be scaled up as resources (funds/volunteers) become available!
One such expansion plan is to provide interested campers with bicycle mounted trailers to tow garbage cans around to cleanup other sites.
			</p></details>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Pictures!</h3>
			<div>
			<img src="/images/trailer.png" alt="Trailer">
			<img src="/images/blanket.jpg" alt="Blanket">
			<img src="/images/trailer02.png" alt="Trailer02">
			</div>
			<p class="editable"> </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Thermal Blankets</h3>
			<p class="editable">The first in a planned series of products we intend to create and distribute to members of the homeless community.
With the cold/rainy season fast approaching, the need for blankets will increase dramatically.  
Our development team has designed a blanket that is an excellent insulator, waterproof, and something we can produce inexpensively.
The idea is to provide interested locals with short term opportunities for employment in the production of the blankets - maybe longer term in the future!
Union Gospel Mission has agreed to help with the distribution of blankets to needy campers.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">Fruitful Spirit is a non-profit 501(c)3 organization ministering to the homeless and hurting in our community.  Our mission is to create viable long term home and work alternatives for people who are not permitted, willing or able to utilize the options existing in the community today. </p>
		</div>
	</div>
</div>

<!---
<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>
--->

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and what projects we're working on!</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<!---
<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
--->
